/* line 1, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
html {
  min-height: 100%;
  overflow: hidden; }

/* line 6, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
body {
  height: calc(100vh - 8em);
  padding: 4em;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
  background-color: #427c4f; }

/* line 14, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
a {
  text-decoration: none; }

/* line 18, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 1px solid rgba(255, 255, 255, 0.75);
  font-size: 2em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

/* line 31, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both blinkTextCursor 500ms steps(44) 0 infinite normal;
  -webkit-animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) 0 infinite normal;
  -moz-animation: typewriter 4s steps(44) 1s 1 normal both blinkTextCursor 500ms steps(44) 0 infinite normal;
  -o-animation: typewriter 4s steps(44) 1s 1 normal both blinkTextCursor 500ms steps(44) 0 infinite normal; }

@-webkit-keyframes typewriter {
  /* line 36, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  from {
    width: 0; }

  /* line 39, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  to {
    width: 24em; } }

@keyframes typewriter {
  /* line 36, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  from {
    width: 0; }

  /* line 39, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  to {
    width: 24em; } }

@-webkit-keyframes blinkTextCursor {
  /* line 45, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }

  /* line 48, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  to {
    border-right-color: transparent; } }

@keyframes blinkTextCursor {
  /* line 45, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }

  /* line 48, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  to {
    border-right-color: transparent; } }
