/* line 1, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
html {
  overflow: hidden; }

/* line 5, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
body {
  padding-left: 2em;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
  background-color: #427c4f; }

/* line 12, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
a {
  text-decoration: none;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5em 1em;
  border-radius: 5px;
  color: #fff; }

/* line 16, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
.line-1 {
  position: relative;
  top: 5em;
  width: 15.5em;
  margin: 0 auto;
  border-right: 1px solid rgba(255, 255, 255, 0.75);
  font-size: 4.5em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

/* line 29, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
.anim-typewriter {
  animation: typewriter 4s steps(25) 1s 1 normal both blinkTextCursor 500ms steps(25) 0 infinite normal;
  -webkit-animation: typewriter 4s steps(25) 1s 1 normal both, blinkTextCursor 500ms steps(25) 0 infinite normal;
  -moz-animation: typewriter 4s steps(25) 1s 1 normal both blinkTextCursor 500ms steps(25) 0 infinite normal;
  -o-animation: typewriter 4s steps(25) 1s 1 normal both blinkTextCursor 500ms steps(25) 0 infinite normal; }

@-webkit-keyframes typewriter {
  /* line 34, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  from {
    width: 0; }

  /* line 37, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  to {
    width: 15.5em; } }

@keyframes typewriter {
  /* line 34, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  from {
    width: 0; }

  /* line 37, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  to {
    width: 15.5em; } }

@-webkit-keyframes blinkTextCursor {
  /* line 43, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }

  /* line 46, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  to {
    border-right-color: transparent; } }

@keyframes blinkTextCursor {
  /* line 43, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }

  /* line 46, /Users/Jared/Dropbox/School Share/Jared 2014-2015/Winter/Tifany - Web Development/exercise-4-codepen/scss/components/main */
  to {
    border-right-color: transparent; } }
