html{
  overflow: hidden;
}

body{
  padding-left: 2em;
  color: $white;
  font-family: $sans;  
  background-color: $green;  
}

a {
    @include btn;
}

.line-1{
    position: relative;
    top: 5em;  
    width: 15.5em;
    margin: 0 auto;
    border-right: 1px solid rgba(255,255,255,.75);
    font-size: 4.5em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter{
    @include animation;
}

@keyframes typewriter{
  from{
    width: 0;
  }
  to{
    width: 15.5em;
  }
}

@keyframes blinkTextCursor{
  from{
    border-right-color: rgba(255,255,255,.75);
  }
  to{
    border-right-color: transparent;
  }
}