html{
  min-height: 100%;
  overflow: hidden;
}

body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: $white;
  font-family: $sans;  
  background-color: $green;  
}

a {
    text-decoration: none;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 1px solid rgba(255,255,255,.75);
    font-size: 2em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter{
    @include animation;
}

@keyframes typewriter{
  from{
    width: 0;
  }
  to{
    width: 24em;
  }
}

@keyframes blinkTextCursor{
  from{
    border-right-color: rgba(255,255,255,.75);
  }
  to{
    border-right-color: transparent;
  }
}